<%- include("./partials/head.ejs") %> 
<body id="client" class="client_home">
    <%- include("./partials/client_header.ejs") %> 
    <main class="px-5">
        <p class="title-productos mt-5">
            <b>Productos</b> | Electro y tecnología
        </p>
        <div class="row justify-content-around">
            <div class="col-3 card-producto">
                <img src="/assets/img/prod1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-3 card-producto">
                <img src="/assets/img/prod2.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-3 card-producto">
                <img src="/assets/img/prod3.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-3 card-producto">
                <img src="/assets/img/prod4.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-3 card-producto">
                <img src="/assets/img/prod5.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-3 card-producto">
                <img src="/assets/img/prod6.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
        </div>

        <a href="/client/scan"><img src="/assets/img/scanning.png" class="w-100 my-5" alt=""></a>

        <!-- CLIENTES -->
        <p class="title-productos mt-5">
            Ofertas del día!
        </p>
        <div class="row justify-content-around">
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/ofertas1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
        </div>

        <p class="title-productos mt-5">
            Tus productos buscados
        </p>
        <div class="row justify-content-around">
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/buscados1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
        </div>

        <p class="title-productos mt-5">
            Promociones en Muebles
        </p>
        <div class="row justify-content-around">
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>

            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
            <div class="col-2 card-producto">
                <img src="/assets/img/muebles1.png" alt="">
                <p>
                    Inalsa Freidora Fry-Light-1400W
                </p>
                <div class="row">
                    <div class="col-8 text-start">$999,99</div>
                    <div class="col-4 text-danger text-end">-40% off</div>
                </div>
                <button class="btn-naranja btn mx-auto d-block mt-3 w-75">Agregar</button>
            </div>
        </div>
    </main>

</body>
</html>