.client_home{
    #carouselHome{
        .carousel-caption{
            bottom: 40%;
            h5{
                font-size: 3.5rem;
            }
            a{
                background-color: rgb(255, 149, 0);
                color: #fff;
                padding-left: 2rem;
                padding-right: 2rem;
                border-radius: 5px;
            }
        }
        
    }
    .mas-vendidos{
        .mensaje{
            font-size: 4.2rem;
            margin-top: 5rem;
        }
    }
}
