<div class="col-3" id="sidebar">
    <h5>Menú Principal</h5>
    <a href="/admin/usuarios" class="link">Usuarios</a>
    <a href="/admin/pedidos" class="link">Pedidos</a>
    <a href="/admin/productos" class="link">Productos</a>
    <a class="link">Categorias</a>
    <a class="link">Informes</a>
    <a class="link">Auditoría</a>
    <a class="link">Configuración</a>
    <a href="/admin/logout" class="link cerrar_sesion">Cerrar sesión</a>
</div>